@import '../mixin.scss';
@import '../shared.scss';

.chart-container {
  @include flexbox-column-fill-space;
  height: 90%;
}

.count-title {
  margin-left: 2rem;
  color: #bb86fc;
  font-weight: bold;
}
