@import '../mixin.scss';
@import '../shared.scss';

.chart-container {
  @include flexbox-column-fill-space;
  height: 90%;
}

.count-title {
  margin-left: 2rem;
  color: #bb86fc;
  font-weight: bold;
}

.back-anchor {
  font-weight: 200;
  font-size: .916667rem;
  text-decoration: underline;
  height: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
