<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
        <a routerLink="/daily" class="nav-link">
            Daily Count
        </a>
        <a routerLink="/suburb" class="nav-link">
            Suburb
        </a>
        <a routerLink="/postcode" class="nav-link active">
            Postcode
        </a>
    </section>
  </nav>
  <div class="content-area dark">
    <div class="row">
      <h3>Postcode</h3>
      <form class="clr-form clr-form-compact"
        [formGroup]="postcodeForm"
        (ngSubmit)="submit()">
        <div class="clr-form-control clr-row">
          <div class="clr-control-container clr-col-10 clr-col-md-12"
            [class.clr-error]="postcodeForm.get('postcode').invalid">
            <div class="clr-input-wrapper">
              <input #input class="clr-input" type="text" formControlName="postcode" autofocus/>
            </div>
            <span class="clr-subtext">NSW Postcode is 4 digits, ranging: 2000 - 2999</span>
          </div>
        </div>
      </form>
      <h3 class="count-title">Total: {{total}}</h3>
      <h3 class="count-title">Last: {{lastDay}}</h3>
    </div>

    <div class="chart-container">
      <ngx-charts-bar-vertical
        class="vertical-bar-chart"
        [view] = "[700, 500]"
        [scheme]="colorScheme"
        [results]="series"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="false">
      </ngx-charts-bar-vertical>
    </div>
  </div>
</div>

