@import '../mixin.scss';
@import '../shared.scss';

.chart-container {
  @include flexbox-column-fill-space;
  height: 80%;
}

.count-title {
  margin-left: 2rem;
  color: #bb86fc;
  font-weight: bold;
}

.row {
  display: flex;
  margin-left: 1rem;
  margin-bottom: .5rem;

  h3 {
    margin-top: .8rem;
  }
}

.clr-input {
  font-size: 1rem;
  text-align: center;
}

.clr-control-container {
  flex-direction: column;
}

.vertical-bar-chart {
  margin-top: 1rem;
  margin-left: 1rem;
}
