@import '../mixin.scss';
@import '../shared.scss';

.chart-container {
  @include flexbox-column-fill-space;
  height: 60rem;
}

.count-title {
  margin-left: 2rem;
  margin-right: 2rem;
  color: #bb86fc;
  font-weight: bold;
}

.row {
  display: flex;

  h3 {
    margin-top: .8rem;
  }
}

.vertical-bar-chart {
  margin-top: 1rem;
  margin-left: 1rem;
}
